{% import 'macro/el.twig' as el %}
<div class="spacer {{ fields.lg_space|default('lg:h-[100px]') }} {{ fields.sm_space|default('h-[50px]') }} bg-{{ fields.background_color.background_color|default('white') }}"></div>